@import '../../../../assets/css/main.css';

/* ----------------BannersBlock-------------- */
.banner_block {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
}

/* ----------------ProductCardBanner-------------- */
.ProductCardBanner {
  background-color: antiquewhite;
  width: 446px;
  height: 300px;
  border-radius: 14px;
}

/* ----------------AdvertisingBanner-------------- */
.slider {
  background-color: var(--gray);
  width: 914px;
  height: 289px;
  border-radius: 14px;
  position: relative;
}

.slider__arrow-prev,
.slider__arrow-next {
  height: 36px;
  width: 36px;
  background-color: var(--white);
  position: absolute;
  top: 132px;
  border-radius: 55px;
}

.slider__arrow-prev:hover,
.slider__arrow-next:hover {
  box-shadow: 0px 0px 11px 0px rgba(34, 60, 80, 0.158);
}

.slider__arrow-next {
  right: -18px;
}

.slider__arrow-prev {
  left: -18px;
}

.slider__dots {
  display: flex;
  gap: 8px;
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
}

.slider__dot {
  cursor: pointer;
  height: 3px;
  width: 28px;
  background-color: var(--white);
}

.slider__dot-active {
  height: 3px;
  width: 28px;
  background-color: var(--orange);
}

.slider__arrow-icon {
  transform: rotate(180deg);
}
