@import '../../../../../../assets/css/main.css';
.pagination {
  margin: 20px auto 0;
  display: flex;
  gap: 10px;
}

.pagination_item,
.pagination_item_active,
.pagination_item_passive {
  width: 28px;
  height: 28px;
  border-radius: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  font-size: 18px;
}

.pagination_item {
  cursor: pointer;
}

.pagination_item:hover {
  background-color: var(--dark-gray);
  color: var(--white);
}

.pagination_item_active {
  color: var(--orange);
  cursor: default;
}

.pagination_item_passive {
  color: var(--gray);
  cursor: default;
}
