@import '../../../assets/css/main.css';

.card_wrapper {
  position: relative;
  width: 200px;
  height: 319px;
}

.card {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  height: 319px;
  overflow: hidden;
  transition: height 0.3s ease;
  display: flex;
  flex-direction: column;
  background-color: var(--white);
}

.card_img {
  margin-top: 4px;
}

.card:hover {
  height: 394px;
  z-index: 2;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.188);
}

.card_content {
  flex: 0 0 319px;
  /* display: flex;
  flex-direction: column; */
}
.card_price {
  margin: 20px 0 0 10px;
  font-size: 18px;
  font-weight: 600;
}

.card_text {
  margin: 10px 10px 0 10px;
  line-clamp: 3;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.card_text span {
  display: block;
}

.card_content_extra {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--white);
  opacity: 0;
  transition: opacity 0.3s ease;
}

.card:hover .card_content_extra {
  opacity: 1;
}
