@import '@/shared/styles/main.css';

.banner-card {
  width: 446px;
  height: 289px;
  border-radius: 14px;
  gap: 28px;
  display: flex;
  border: 1px solid var(--gray);
}

.banner-card__content {
  display: flex;
  flex-direction: column;
}

.banner-card__title {
  margin-top: 24px;
  margin-left: 15px;
  font-size: 24px;
  font-weight: 600;
}

.banner-card__image {
  margin-top: 10px;
  margin-left: 15px;
  width: 200px;
  height: 200px;
}

.banner-card__info {
  display: flex;
  flex-direction: column;
}

.banner-card__timer {
  display: flex;
  margin-top: 15px;
  gap: 10px;
}

.banner-card__time-block {
  font-size: 24px;
  font-weight: 600;
  width: 46px;
  height: 46px;
  background-color: var(--gray);
  border-radius: 6px;
  text-align: center;
  padding-top: 8px;
}

.banner-card__time-separator {
  font-size: 24px;
  font-weight: 600;
  margin-top: 6px;
}

.banner-card__discount {
  margin-top: 20px;
  display: flex;
  position: relative;
}

.banner-card__discount-label {
  width: 134px;
  height: 20px;
  background-color: var(--dark-gray);
  border-radius: 15px 3px 15px 3px;
}

.banner-card__discount-text {
  font-size: 14px;
  font-weight: 700;
  color: var(--white);
  margin-left: 10px;
}

.banner-card__discount-value {
  border-radius: 15px 3px 15px 3px;
  height: 20px;
  width: 52px;
  background-color: var(--red);
  position: absolute;
  z-index: 1;
  right: 52px;
}

.banner-card__discount-percent {
  font-size: 14px;
  font-weight: 700;
  color: var(--white);
  text-align: center;
  margin-top: 1px;
}

.banner-card__price {
  font-size: 24px;
  font-weight: 600;
}

.banner-card__price-container {
  margin-top: 24px;
  display: flex;
}

.banner-card__old-price {
  margin-left: 10px;
  margin-top: 5px;
  text-decoration: line-through;
  color: var(--gray);
}

.banner-card__description {
  height: 70px;
  width: 177px;
  margin-top: 12px;
}

.banner-card__manufacturer {
  height: 22px;
  width: 177px;
}

.banner-card__text {
  height: 44px;
  width: 177px;
}

.banner-card__button {
  margin-left: 20px;
}
