@import '../../../assets/css/main.css';
.card_container {
  width: 446px;
  height: 289px;
  border-radius: 14px;
  display: flex;
  border: 1px solid var(--gray);
}
/* left */
.card_img {
  margin: 21px 0 0 15px;
  width: 200px;
  height: 200px;
}

.card_title {
  margin: 24px 0 0 15px;
  font-size: 24px;
  font-weight: 600;
}
/* right */

.card_right {
  margin-left: 28px;
}
.card_time {
  margin-top: 15px;
  display: flex;
  gap: 10px;
}
.card_time div {
  font-size: 24px;
  font-weight: 600;
}
.card_time_counter {
  height: 46px;
  width: 46px;
  background-color: var(--gray);
  border-radius: 6px;
  text-align: center;
  padding-top: 10px;
}

.card_time_separator {
  margin-top: 8px;
}

/* ------------ */
.card_label {
  margin-top: 21px;
  display: flex;
  position: relative;
}
.card_label p {
  font-size: 14px;
  font-weight: 700;
  color: var(--white);
  margin-top: 3px;
}

.card_label_gray {
  width: 134px;
  height: 20px;
  background-color: var(--dark-gray);
  border-radius: 15px 3px 15px 3px;
}

.card_label_gray p {
  margin-left: 10px;
}
.card_label_red {
  border-radius: 15px 3px 15px 3px;
  height: 20px;
  width: 52px;
  background-color: var(--red);
  z-index: 1;
  position: absolute;
  right: 52px;
}

.card_label_red p {
  text-align: center;
}

.card_price {
  font-size: 24px;
  font-weight: 600;
}
