@import '../../../assets/css/main.css';

/* ------------ */
.card_label {
  margin-top: 21px;
  display: flex;
  position: relative;
}
.card_label p {
  font-size: 14px;
  font-weight: 700;
  color: var(--white);
  margin-top: 3px;
}

.card_label_gray {
  width: 134px;
  height: 20px;
  background-color: var(--dark-gray);
  border-radius: 15px 3px 15px 3px;
}

.card_label_gray p {
  margin-left: 10px;
}
.card_label_red {
  border-radius: 15px 3px 15px 3px;
  height: 20px;
  width: 52px;
  background-color: var(--red);
  z-index: 1;
  position: absolute;
  right: 52px;
}

.card_label_red p {
  text-align: center;
}

.price_block {
  margin-top: 24px;
  display: flex;
}

.price {
  font-size: 24px;
  font-weight: 600;
}

.discount {
  position: relative;
  margin: 4px 0 0 10px;
  font-size: 14px;
  color: var(--dark-gray);
}

.discount::after {
  content: '';
  position: absolute;
  top: 6px;
  left: -3px;
  right: -3px;
  height: 2px;
  background-color: var(--red);
  pointer-events: none;
}

.text {
  height: 70px;
  width: 177px;
  margin-top: 12px;
}

.text_manufacturer {
  margin-top: 12px;
  width: 177px;
  height: 22px;
}

.text_description {
  width: 177px;
  height: 44px;
}

.btn_pos {
  margin-left: 20px;
}
