@import '../../../assets/css/main.css';

.img {
  width: 48px;
  height: 48px;
}

.card {
  display: flex;
  padding: 12px 20px 12px 0;
  justify-content: space-between;
}

.card:hover {
  background-color: var(--gray);
}

.card_container {
  gap: 20px;
  display: flex;
  margin-left: 20px;
}

.price {
  margin-top: 16px;
  font-weight: 600;
  font-style: 18px;
}

.text {
  margin-top: 4px;
}
