.sceleton {
  width: 200px;
  height: 319px;
  border: 1px solid var(--gray);
  animation: pulse 1.5s infinite ease-in-out;
}

.sceleton__image {
  width: 160px;
  height: 160px;
  margin-top: 5px;
  margin-left: 20px;
  margin-right: 20px;
  background-color: var(--gray);
  border-radius: 4px;
}

.sceleton__line-small {
  width: 70px;
  height: 25px;
  margin-top: 25px;
  margin-left: 10px;
  margin-right: 10px;
  background-color: var(--gray);
  border-radius: 4px;
}

.sceleton__line-medium {
  width: 120px;
  height: 16px;
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
  background-color: var(--gray);
  border-radius: 4px;
}

.sceleton__line-large {
  width: 160px;
  height: 16px;
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
  background-color: var(--gray);
  border-radius: 4px;
}

.sceleton__line-between {
  width: 130px;
  height: 16px;
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
  background-color: var(--gray);
  border-radius: 4px;
}

/* simple animation */
@keyframes pulse {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
}
