@import '../../../assets/css/main.css';

.sceleton {
  width: 200px;
  height: 319px;
  border: 1px solid var(--gray);
}

.sceleton_img {
  margin: 5px 20px 0;
  background-color: var(--gray);
  width: 160px;
  height: 160px;
}

.sceleton_price {
  margin: 25px 10px 0;
  background-color: var(--gray);
  width: 70px;
  height: 25px;
}

.sceleton_manufacturer {
  margin: 10px 10px 0;
  background-color: var(--gray);
  width: 120px;
  height: 16px;
}

.sceleton_text {
  margin: 10px 10px 0;
  background-color: var(--gray);
  width: 160px;
  height: 16px;
}

.sceleton_text:last-child {
  margin: 10px 10px 0;
  background-color: var(--gray);
  width: 130px;
  height: 16px;
}
