@import '../../../assets/css/main.css';

.product-counter {
  display: flex;
  align-items: center;
  background-color: var(--gray);
  width: 120px;
  height: 44px;
  border-radius: 10px;
}

.product-counter__button-plus,
.product-counter__button-minus {
  background-color: var(--gray);
  color: var(--dark-gray);
  font-weight: bold;
  width: 40px;
  height: 44px;
  cursor: pointer;
  user-select: none;
  transition: background-color 0.3s;
}
.product-counter__button-plus {
  border-radius: 10px 0 0 10px;
}
.product-counter__button-minus {
  border-radius: 0 10px 10px 0;
}
.product-counter__button-plus:hover,
.product-counter__button-minus:hover {
  background-color: var(--dark-gray);
  color: var(--white);
}

.product-counter__count {
  font-size: 16px;
  width: 40px;
  min-width: 20px;
  text-align: center;
}

.product-counter__warning {
  color: red;
  margin-top: 5px;
  font-size: 14px;
  font-weight: bold;
  animation: fadeOut 2s forwards;
}

/* Анимация */
@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
