@import '@/shared/styles/main.css';
.footer {
  width: 100%;
  height: 100px;
  background-color: var(--dark-gray);
}

.info {
  width: 400px;
  height: 30px;
  background-color: bisque;
  cursor: pointer;
}
