.banners-block {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}

.banner-block__skeleton {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
  animation: pulse 1.5s infinite ease-in-out;
}

.banner-block__skeleton-banner {
  width: 914px;
  height: 289px;
  background-color: var(--gray);
  border-radius: 14px;
  position: relative;
}
@keyframes pulse {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
}
